apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    orgId: 1
    # IP Address or FQDN of the Monitoring Server
    url: "http://{{ prom_server }}:9090"
    jsonData:
      "tlsSkipVerify": true
    isDefault: true
    editable: true
