---

- name: copy prom config
  ansible.builtin.copy:
    src: "{{ prom_config_file }}"
    dest: "{{ prom_config_dest }}"
    owner: prometheus
    group: prometheus
    force: true


- name: restart prometheus service
  ansible.builtin.service:
    name: prometheus
    enabled: true
    state: restarted
