---

- name: copy prom config
  ansible.builtin.copy:
    src: "{{ lookup('template', './templates/prometheus.j2') }}"
    dest: "{{ prom_config_dest }}"
    owner: prometheus
    group: prometheus
    force: true


- name: restart prometheus service
  ansible.builtin.service:
    name: prometheus
    enabled: true
    state: restarted

- name: Print config file
  ansible.builtin.debug:
    msg: "{{ prom_config_file }}"
