---

- name: update grafana config
  ansible.builtin.template:
    src:  grafana.j2
    dest: "{{ grafana_config_dest }}"
    owner: prometheus
    group: prometheus
    force: true
  notify: restart grafana service
